.flex_flexEight {
    width: 400px;
    height: 300px;
    background-color:#eeeeee ;
}

.flex_flexEight > .one {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex_flexEight > .two {
    display: flex;
    align-items: flex-end;
  justify-content: flex-start;
}

.flex_flexEight > .three {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}